[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prettyconf = "*"
swg = {git = "https://github.com/sdelquin/sgw.git"}

[dev-packages]
ipython = "*"
"flake8" = "*"
rope = "*"
"fabric3" = "*"

[requires]
python_version = "3.6"
